* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    line-height: 22px;
}
body {
    font-family: 'Roboto', serif;
    color: #b6b6b6;
    font-size: 1em;
}
h2, h3, .uptitle {
    color: #333;
}
.uptitle {
    font-family: 'Kaushan Script', serif;
    font-size: 1.6em;
}
h3,
.menu-item {
    font-size: 0.93em;
}
.container,
.header,
footer {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
section {
    padding: 50px 0;
}
.section-title {
    text-align: center;
}
.section-title h2 {
    margin: 20px 0 40px;
    text-transform: uppercase;
}
hr {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #f38181;
}
.header {
    padding: 17px 0;
    font-family: 'Montserrat', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo,
.menu-link {
    color: #95E1D3;
    transform: all .3s;
}
}
.logo,
h2 {
    font-size: 2em;
}
.menu-list {
    display: flex;
}
.menu-item {
    padding-left: 55px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
}
.services-item {
    width: 33.33%;
    padding: 0 35px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
}
.services-item:nth-child(3n) {
    margin-bottom: 100px;
}
.services-item img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

/* team */
.team-list {
    display: flex;
}
.team-member {
    margin-right: 30px;
}
.team-member:last-child {
    margin-right: 0;
}
.team-member-photo {
    position: relative;
}
.team-member-photo::before {
    content: '';
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    left: -10px;
    top: -10px;
    transition: opacity .3s;
}
.team-member-photo:hover::before,
.team-member-photo:hover .social {
    opacity: 1;
}
img {
    display: block;
    width: 100%;
}

.social {
    opacity: 0;
    display: flex;
    position: absolute;
    top: calc(50% - 23px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .3s;
}
.social li {
    width: 57px;
    height: 57px;
    background: #FCE38A;
    margin-right: 1px;
    transition: background 0.3s;
}
.social li:hover {
    background: #95E1D3;
}
.social-link {
    display: block;
    height: 100%;
    padding-top: 16px;
    text-align: center;
}
.social img {
    display: inline-block;
    height: 26px;
    width: auto;
}
.footer {
    display: inline-block;
    color: #333;
    width: 90%;
    align-items: center;
    padding: 50px;
}